openapi: 3.0.3

info:
  title: Better Admin API
  description: >
    Better Admin Phase 2 (NestJS + PostgreSQL) API Contract.
    本文件为 API Contract 的唯一事实来源（Single Source of Truth），详见 nest/docs/openapi-design.md。
    采用文档优先（Contract-First）；NestJS 实现须与本文一致。
    版本注记：v1.0.0 基线；v1.1 优化批量删(DELETE /users?ids=)、logout 强制鉴权、settings 改 SETTINGS_UPDATE、新增 INVALID_OPERATION；v1.3 新增 GET /menus/tree 管理全量树（search/order 参数）并移除 Settings 模块与 SETTINGS_UPDATE 权限点、新增 RESET_PASSWORD 位；menus.to 部分唯一索引与格式/唯一校验（MENU_TO_INVALID / MENU_TO_EXISTS）；
    v1.2 登录支持 rememberMe（长短会话分档）、refreshToken 服务端托管（refresh_tokens 表哈希存储）并轮换下发、
    logout 支持按 refreshToken 精确撤销、JWT 增加 ver claim 对齐 users.token_version（改密码/封禁全端下线）；
    v1.4 移除菜单 target 字段（menus.target 列删除，外链打开方式由前端按 to 是否外链推导）；
    v1.4.1 补录 DELETE /dict/types/{code} 的 409 响应声明（DICT_TYPE_IN_USE，实现已有、文档补齐）；
    v1.4.2 GET /roles 新增 enabled 状态筛选参数（缺省返回全部）；
    v1.4.3 系统内置角色保护：PUT /roles/{id}/menus 与 DELETE /roles/{id} 对 super_admin
    返回 403 SUPER_ADMIN_ROLE_PROTECTED（其 role_menus 授权为全量权限载体，禁止修改/删除）；
    v1.4.4 新增 GRANT(256) 权限点（菜单授权）；PUT /roles/{id}/menus 权限要求由 EDIT
    收敛为 GRANT（角色管理菜单声明位同步补录，见 nest/scripts/migrate-menus-add-grant-bit.ts）；
    v1.4.5 用户关联角色数量上限：UserCreateRequest / UserUpdateRequest 的 roleIds
    maxItems=5（超限 400 VALIDATION_ERROR）；
    v1.4.6 用户写操作保护：DELETE /users/{id}、DELETE /users、PUT /users/{id}/status、
    POST /users/{id}/reset-password 对当前登录用户本人返回 400 SELF_OPERATION_FORBIDDEN，
    对内置 admin 用户返回 403 ADMIN_USER_PROTECTED，对绑定 super_admin 角色的用户返回
    403 SUPER_ADMIN_USER_PROTECTED（操作者本人为 super_admin 时豁免）；
    PUT /users/{id} 对受保护用户请求停用（status=disabled）返回同样 403。
    v1.4.7 登录鉴权加固：POST /auth/login 对停用用户返回 401 USER_DISABLED；
    用户名查询过滤 deleted_at（软删除用户不可登录，命中失败表现为 INVALID_CREDENTIALS）；
    每请求鉴权对软删除/停用用户返回 401；DELETE /users、DELETE /users/{id}
    软删除时同步清理该用户的 user_roles 与 refresh_tokens。
    v1.4.8 日志模块增强：Log schema 新增操作人摘要字段 username / displayName / email / avatar
    （GET /logs 与 GET /logs/{id} left join users 返回；用户不存在时为 null）；
    新增 DELETE /logs?ids= 批量删除日志（BATCH_DELETE 权限，任一 ID 无效整体 400 INVALID_OPERATION）；
    登录 / 每请求鉴权共用用户视图（LoginResponse.user 与 GET /auth/me）新增 email 字段。
    v1.5.0 我的账户（Account，自助模块，仅 AuthGuard 不走 PermissionsGuard）：
    新增 GET/PUT /account/profile（displayName / phone / tags 自助修改）、PUT /account/email
    （需 currentPassword 确认，邮箱冲突 409 EMAIL_EXISTS）、PUT /account/password
    （需 currentPassword，成功后 tokenVersion+1 全端强制下线）、POST /account/avatar
    （multipart 头像上传，服务端中转写入 Supabase Storage，bucket avatars public read，
    文件名 {userId}.{ext} 同名覆盖，URL 带时间戳查询参数防缓存）；
    users 表新增 phone / tags（text[]，可空）/ last_login_at（登录成功时写入）列；
    AuthUser 视图（LoginResponse.user 与 GET /auth/me）新增 avatar / phone / tags，
    并将 GET /auth/me 的 data 契约由 LoginResponse 纠偏为 AuthUser（实现一直如此）；
    管理端 User 视图补充 phone / tags 只读展示。错误码新增 CURRENT_PASSWORD_INCORRECT、
    AVATAR_FILE_INVALID、AVATAR_FILE_TOO_LARGE。
  version: 1.5.0

servers:
  - url: https://api.baiwumm.com/api
    description: Production (Render)
  - url: http://localhost:3000/api
    description: Local dev

tags:
  - name: Auth
    description: 认证（登录/登出/刷新/当前用户）
  - name: Account
    description: 我的账户（当前登录用户自助接口：资料 / 邮箱 / 密码 / 头像）
  - name: Permissions
    description: 权限点字典
  - name: Users
    description: 用户管理
  - name: Roles
    description: 角色管理
  - name: Menus
    description: 菜单管理（树形 + 按钮位掩码）
  - name: Dict
    description: 字典管理
  - name: Logs
    description: 日志（operation/login/api/error）

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: 大写蛇形业务错误码
          example: USER_NOT_FOUND
        message:
          type: string
          description: 中文可读错误信息
          example: 用户不存在

    Pagination:
      type: object
      required: [page, pageSize, total]
      properties:
        page:
          type: integer
          example: 1
        pageSize:
          type: integer
          example: 10
        total:
          type: integer
          example: 100

    # ---------- Auth ----------
    LoginRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
          example: admin
        password:
          type: string
          example: admin123
        rememberMe:
          type: boolean
          default: false
          description: >
            记住我。true 时签发长效 refreshToken（默认 30d），false（缺省）为短会话
            （refreshToken 默认 1d）；accessToken 有效期不受影响（默认 1h）。

    RefreshRequest:
      type: object
      required: [refreshToken]
      properties:
        refreshToken:
          type: string

    LogoutRequest:
      type: object
      properties:
        refreshToken:
          type: string
          description: 可选。传入则仅撤销本设备托管的 refreshToken 会话；缺省撤销该用户全部设备会话。

    # 认证用户视图（v1.5.0 由 LoginResponse.user 内联定义抽为独立 schema，
    # 供 LoginResponse.user 与 GET /auth/me 的 data 共用）
    AuthUser:
      type: object
      required: [id, username, displayName, email, roles, permissions]
      properties:
        id:
          type: string
        username:
          type: string
        displayName:
          type: string
        email:
          type: string
          description: 用户邮箱（v1.4.8 新增，前端统一用户信息展示使用）
        avatar:
          type: string
          nullable: true
          description: 头像 URL（v1.5.0 新增；自助上传后指向 Supabase Storage 公开地址）
        phone:
          type: string
          nullable: true
          description: 电话（v1.5.0 新增）
        tags:
          type: array
          description: 个人标签（v1.5.0 新增，用户在「我的账户」自助维护，最多 10 个、每个 ≤20 字符）
          items:
            type: string
        roles:
          type: array
          items:
            type: string
        permissions:
          type: integer
          description: 用户全部权限位聚合（超级管理员为全1掩码，普通角色为实际位聚合值）
          example: 9223372036854775807

    LoginResponse:
      type: object
      required: [accessToken, refreshToken, user]
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        user:
          $ref: '#/components/schemas/AuthUser'

    # ---------- Permissions ----------
    PermissionItem:
      type: object
      properties:
        value:
          type: string
          example: ADD
        label:
          type: string
          example: add
        bits:
          type: integer
          example: 2
        icon:
          type: string
          example: lucide:plus

    # ---------- Users ----------
    User:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        email:
          type: string
        displayName:
          type: string
        avatar:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
          description: 电话（v1.5.0 新增，管理端只读展示；自助修改走 PUT /account/profile）
        tags:
          type: array
          description: 个人标签（v1.5.0 新增，管理端只读展示；自助维护走 PUT /account/profile）
          items:
            type: string
        status:
          type: string
          enum: [active, disabled]
        roles:
          type: array
          description: 用户关联的角色（user_roles → roles 联查）
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              code:
                type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    UserCreateRequest:
      type: object
      required: [username, email, password, displayName]
      properties:
        username:
          type: string
        email:
          type: string
        password:
          type: string
        displayName:
          type: string
        avatar:
          type: string
          nullable: true
        status:
          type: string
          enum: [active, disabled]
          default: active
        roleIds:
          type: array
          maxItems: 5
          description: 关联角色 id 列表（用户 → 角色，多对多）。不传或空数组表示无角色。最多 5 个（v1.4.5，超限 400 VALIDATION_ERROR）。
          items:
            type: string

    UserUpdateRequest:
      type: object
      properties:
        email:
          type: string
        displayName:
          type: string
        avatar:
          type: string
          nullable: true
        status:
          type: string
          enum: [active, disabled]
        roleIds:
          type: array
          maxItems: 5
          description: 关联角色 id 列表（全量替换：传空数组或不传即清空该用户所有角色关联）。最多 5 个（v1.4.5，超限 400 VALIDATION_ERROR）。
          items:
            type: string

    ResetPasswordRequest:
      type: object
      required: [newPassword]
      properties:
        newPassword:
          type: string

    StatusUpdateRequest:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [active, disabled]

    # ---------- Account（v1.5.0 我的账户自助接口） ----------
    AccountProfile:
      type: object
      required: [id, username, email, displayName, status, roles, createdAt, updatedAt]
      properties:
        id:
          type: string
        username:
          type: string
          description: 登录名（只读，不可自助修改）
        email:
          type: string
        displayName:
          type: string
        avatar:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        tags:
          type: array
          description: 个人标签（自助维护，最多 10 个、每个去首尾空格后 1-20 字符、自动去重）
          items:
            type: string
        status:
          type: string
          enum: [active, disabled]
          description: 账号状态（只读）
        roles:
          type: array
          description: 关联角色（只读，user_roles → roles 联查）
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              code:
                type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        lastLoginAt:
          type: string
          format: date-time
          nullable: true
          description: 最近一次登录成功时间（v1.5.0 新增列，登录成功时写入；从未登录过为 null）

    AccountProfileUpdateRequest:
      type: object
      properties:
        displayName:
          type: string
          minLength: 1
          maxLength: 50
        phone:
          type: string
          nullable: true
          maxLength: 20
          description: 电话，可空；允许 + 前缀与数字、空格、短横线
        tags:
          type: array
          maxItems: 10
          description: 个人标签全量替换；服务端逐项 trim、去重，单项 1-20 字符
          items:
            type: string
            maxLength: 20

    AccountEmailUpdateRequest:
      type: object
      required: [email, currentPassword]
      properties:
        email:
          type: string
          format: email
        currentPassword:
          type: string
          description: 当前密码确认（错误 400 CURRENT_PASSWORD_INCORRECT）

    AccountPasswordUpdateRequest:
      type: object
      required: [currentPassword, newPassword]
      properties:
        currentPassword:
          type: string
        newPassword:
          type: string
          minLength: 6
          description: 新密码（≥6 位，与 ResetPasswordRequest 一致）

    AccountAvatarResponse:
      type: object
      required: [avatar]
      properties:
        avatar:
          type: string
          description: 头像公开访问 URL（带缓存穿透时间戳查询参数）

    # ---------- Roles ----------
    Role:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        code:
          type: string
        description:
          type: string
          nullable: true
        enabled:
          type: boolean
        sort:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    RoleCreateRequest:
      type: object
      required: [name, code]
      properties:
        name:
          type: string
        code:
          type: string
        description:
          type: string
          nullable: true
        enabled:
          type: boolean
          default: true
        sort:
          type: integer
          default: 0

    RoleUpdateRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        enabled:
          type: boolean
        sort:
          type: integer

    RoleMenuPermission:
      type: object
      required: [menuId, permissions]
      properties:
        menuId:
          type: string
        permissions:
          type: integer
          description: 该角色在此菜单的授权位（role_menus.permissions 子集）

    RoleMenusResponse:
      type: object
      properties:
        roleId:
          type: string
        menus:
          type: array
          items:
            $ref: '#/components/schemas/RoleMenuPermission'

    RoleMenusUpdateRequest:
      type: object
      required: [menus]
      properties:
        menus:
          type: array
          items:
            $ref: '#/components/schemas/RoleMenuPermission'

    # ---------- Menus ----------
    MenuNode:
      type: object
      properties:
        id:
          type: string
        label:
          type: string
        i18nKey:
          type: string
          nullable: true
        icon:
          type: string
        to:
          type: string
          nullable: true
        parentId:
          type: string
          nullable: true
        sort:
          type: integer
        keepAlive:
          type: boolean
        hideInMenu:
          type: boolean
        enabled:
          type: boolean
        defaultOpen:
          type: boolean
        permissions:
          type: integer
          description: 该菜单声明的可用按钮位（全量）
        userPermissions:
          type: integer
          description: 当前登录用户在此菜单的实际授权位（登录态返回）
          nullable: true
        children:
          type: array
          items:
            $ref: '#/components/schemas/MenuNode'

    MenuCreateRequest:
      type: object
      required: [label, icon]
      properties:
        label:
          type: string
        i18nKey:
          type: string
          nullable: true
        icon:
          type: string
        to:
          type: string
          nullable: true
        parentId:
          type: string
          nullable: true
        sort:
          type: integer
          default: 0
        keepAlive:
          type: boolean
          default: false
        hideInMenu:
          type: boolean
          default: false
        enabled:
          type: boolean
          default: true
        defaultOpen:
          type: boolean
          default: false
        permissions:
          type: integer
          default: 0

    MenuUpdateRequest:
      type: object
      properties:
        label:
          type: string
        i18nKey:
          type: string
          nullable: true
        icon:
          type: string
        to:
          type: string
          nullable: true
        parentId:
          type: string
          nullable: true
        sort:
          type: integer
        keepAlive:
          type: boolean
        hideInMenu:
          type: boolean
        enabled:
          type: boolean
        defaultOpen:
          type: boolean
        permissions:
          type: integer

    AddChildRequest:
      type: object
      required: [label, icon]
      properties:
        label:
          type: string
        i18nKey:
          type: string
          nullable: true
        icon:
          type: string
        to:
          type: string
          nullable: true
        sort:
          type: integer
          default: 0
        permissions:
          type: integer
          default: 0

    # ---------- Dict ----------
    DictType:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    DictTypeCreateRequest:
      type: object
      required: [code, name]
      properties:
        code:
          type: string
        name:
          type: string
        description:
          type: string
          nullable: true

    DictTypeUpdateRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true

    DictItem:
      type: object
      properties:
        id:
          type: string
        typeCode:
          type: string
        value:
          type: string
        label:
          type: string
        i18nKey:
          type: string
          nullable: true
        sort:
          type: integer
        enabled:
          type: boolean

    DictItemCreateRequest:
      type: object
      required: [typeCode, value, label]
      properties:
        typeCode:
          type: string
        value:
          type: string
        label:
          type: string
        i18nKey:
          type: string
          nullable: true
        sort:
          type: integer
          default: 0
        enabled:
          type: boolean
          default: true

    DictItemUpdateRequest:
      type: object
      properties:
        value:
          type: string
        label:
          type: string
        i18nKey:
          type: string
          nullable: true
        sort:
          type: integer
        enabled:
          type: boolean

    # ---------- Logs ----------
    Log:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [operation, login, api, error]
        userId:
          type: string
          nullable: true
        # v1.4.8：操作人摘要（left join users；日志产生时用户已删除/不存在则为 null）
        username:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        avatar:
          type: string
          nullable: true
        action:
          type: string
        ip:
          type: string
          nullable: true
        userAgent:
          type: string
          nullable: true
        detail:
          nullable: true
        createdAt:
          type: string
          format: date-time

  responses:
    Unauthorized:
      description: 未登录或 token 无效
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: UNAUTHORIZED
            message: 未登录或 token 无效
    Forbidden:
      description: 无权限（位掩码校验失败）
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: FORBIDDEN
            message: 无权限
    ValidationError:
      description: 请求参数校验失败
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: VALIDATION_ERROR
            message: 请求参数校验失败
    NotFound:
      description: 资源不存在
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: USER_NOT_FOUND
            message: 用户不存在

paths:
  # ===================== Auth =====================
  /auth/login:
    post:
      tags: [Auth]
      summary: 登录
      security: []
      x-permission: NONE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: 登录成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/LoginResponse'
        '401':
          description: >
            用户名或密码错误（INVALID_CREDENTIALS，含软删除用户命中失败）；
            或账号已停用（USER_DISABLED，v1.4.7，停用用户拒绝新登录）。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalidCredentials:
                  value:
                    code: INVALID_CREDENTIALS
                    message: 用户名或密码错误
                userDisabled:
                  value:
                    code: USER_DISABLED
                    message: 账号已停用，请联系管理员

  /auth/logout:
    post:
      tags: [Auth]
      summary: 登出
      description: >
        登出接口强制鉴权（须携带 Token）。服务端撤销该用户托管的 refreshToken 并记录登出日志
        （logs 表 type=login, action=logout），返回 204 No Content。
        请求体可选：携带 refreshToken 仅精确撤销本设备会话；不携带则撤销该用户全部设备会话。
        注意：accessToken 保持无状态，撤销后残留有效期内（默认 ≤1h）仍可访问，属预期行为；
        后续请求因 refresh 失败将被引导重新登录。
      security:
        - bearerAuth: []
      x-permission: NONE
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutRequest'
      responses:
        '204':
          description: 登出成功（无内容）
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: 刷新 accessToken
      security: []
      x-permission: NONE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: 刷新成功（refreshToken 已轮换，旧 token 作废；新 token 过期时间继承原会话剩余窗口）
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [accessToken, refreshToken]
                    properties:
                      accessToken:
                        type: string
                      refreshToken:
                        type: string
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/me:
    get:
      tags: [Auth]
      summary: 当前用户信息
      x-permission: NONE
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AuthUser'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ===================== Account =====================
  /account/profile:
    get:
      tags: [Account]
      summary: 我的账户详情
      security:
        - bearerAuth: []
      x-permission: NONE
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AccountProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      tags: [Account]
      summary: 修改基本信息（displayName / phone / tags）
      security:
        - bearerAuth: []
      x-permission: NONE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountProfileUpdateRequest'
      responses:
        '200':
          description: 修改成功，返回最新账户详情
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AccountProfile'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /account/email:
    put:
      tags: [Account]
      summary: 修改邮箱（需当前密码确认）
      security:
        - bearerAuth: []
      x-permission: NONE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountEmailUpdateRequest'
      responses:
        '200':
          description: 修改成功，返回最新账户详情
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AccountProfile'
        '400':
          description: >
            当前密码错误（CURRENT_PASSWORD_INCORRECT）；或参数校验失败（VALIDATION_ERROR）。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                currentPasswordIncorrect:
                  value:
                    code: CURRENT_PASSWORD_INCORRECT
                    message: 当前密码不正确
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          description: 邮箱已被其他未删除用户占用（EMAIL_EXISTS）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: EMAIL_EXISTS
                message: 邮箱已存在

  /account/password:
    put:
      tags: [Account]
      summary: 修改密码（需当前密码确认；成功后全端强制下线）
      description: >
        校验当前密码后写入新密码，并递增 tokenVersion、撤销该用户全部托管 refreshToken：
        所有已登录设备（含本设备当前会话）立即失效，客户端须引导重新登录。
      security:
        - bearerAuth: []
      x-permission: NONE
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountPasswordUpdateRequest'
      responses:
        '200':
          description: 修改成功（data 为 null；当前会话已失效，须重新登录）
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: string
                    nullable: true
        '400':
          description: >
            当前密码错误（CURRENT_PASSWORD_INCORRECT）；或参数校验失败（VALIDATION_ERROR）。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: CURRENT_PASSWORD_INCORRECT
                message: 当前密码不正确
        '401':
          $ref: '#/components/responses/Unauthorized'

  /account/avatar:
    post:
      tags: [Account]
      summary: 上传/更新头像（multipart，服务端中转写入 Supabase Storage）
      description: >
        图片经前端裁剪后上传（multipart/form-data，字段名 file）。服务端校验类型与大小：
        仅允许 image/webp、image/png、image/jpeg，≤ 2MB（超限 400 AVATAR_FILE_TOO_LARGE，
        类型非法 400 AVATAR_FILE_INVALID）。以 {userId}.{ext} 覆盖写入公开 bucket avatars，
        每用户固定一张头像；返回的 avatar URL 带时间戳查询参数，天然穿透 CDN/浏览器缓存。
      security:
        - bearerAuth: []
      x-permission: NONE
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: 上传成功，返回最新头像 URL
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/AccountAvatarResponse'
        '400':
          description: >
            未提供文件或文件为空（AVATAR_FILE_INVALID）；类型非法（AVATAR_FILE_INVALID）；
            超过 2MB（AVATAR_FILE_TOO_LARGE）。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                avatarInvalid:
                  value:
                    code: AVATAR_FILE_INVALID
                    message: 头像文件类型不支持，仅支持 webp / png / jpeg
                avatarTooLarge:
                  value:
                    code: AVATAR_FILE_TOO_LARGE
                    message: 头像文件不能超过 2MB
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Storage 写入失败（AVATAR_UPLOAD_FAILED）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: AVATAR_UPLOAD_FAILED
                message: 头像上传失败，请稍后重试

  # ===================== Permissions =====================
  /permissions:
    get:
      tags: [Permissions]
      summary: 权限点全量字典
      x-permission: NONE
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PermissionItem'

  # ===================== Users =====================
  /users:
    get:
      tags: [Users]
      summary: 用户列表
      x-permission: SEARCH
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: pageSize
          in: query
          schema: { type: integer, default: 10, enum: [10, 20, 30, 40, 50] }
        - name: search
          in: query
          schema: { type: string }
        - name: status
          in: query
          schema: { type: string, enum: [active, disabled] }
        - name: sort
          in: query
          schema: { type: string }
        - name: order
          in: query
          schema: { type: string, enum: [asc, desc] }
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Users]
      summary: 创建用户
      x-permission: ADD
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateRequest'
      responses:
        '200':
          description: 创建成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: 用户名/邮箱已存在
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: USERNAME_EXISTS
                message: 用户名已存在
    delete:
      tags: [Users]
      summary: 批量删除用户（逗号分隔 ID 列表）
      description: >
        通过 Query 参数 ids 传递逗号分隔的用户 ID 列表（如 ?ids=id1,id2,id3）进行批量软删。
        若 ID 列表过长导致 URL 超长，允许降级为 POST /api/users/batch-delete（请求体传 ids 数组）；
        初版统一使用 DELETE + Query。
      x-permission: BATCH_DELETE
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: 逗号分隔的用户 ID 列表
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    nullable: true
        '400':
          description: |
            部分 ID 无效或越权（INVALID_OPERATION）；或列表包含当前登录用户本人（SELF_OPERATION_FORBIDDEN，v1.4.6）。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalidOperation:
                  value:
                    code: INVALID_OPERATION
                    message: 部分用户 ID 无效或无权限操作
                selfOperation:
                  value:
                    code: SELF_OPERATION_FORBIDDEN
                    message: 不能操作当前登录用户
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: 无权限（FORBIDDEN）；或列表包含受保护用户（v1.4.6）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                forbidden:
                  value:
                    code: FORBIDDEN
                    message: 无权限
                adminProtected:
                  value:
                    code: ADMIN_USER_PROTECTED
                    message: 系统内置管理员账号不可操作
                superAdminProtected:
                  value:
                    code: SUPER_ADMIN_USER_PROTECTED
                    message: 该用户绑定了超级管理员角色，不可操作

  /users/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Users]
      summary: 用户详情
      x-permission: SEARCH
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Users]
      summary: 编辑用户
      x-permission: EDIT
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: 请求停用受保护用户（v1.4.6；status 非 disabled 不受影响）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                adminProtected:
                  value:
                    code: ADMIN_USER_PROTECTED
                    message: 系统内置管理员账号不可操作
                superAdminProtected:
                  value:
                    code: SUPER_ADMIN_USER_PROTECTED
                    message: 该用户绑定了超级管理员角色，不可操作
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Users]
      summary: 删除用户（软删）
      x-permission: DELETE
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    nullable: true
        '400':
          description: 不能操作当前登录用户本人（v1.4.6）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: SELF_OPERATION_FORBIDDEN
                message: 不能操作当前登录用户
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: 目标为受保护用户（v1.4.6）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                adminProtected:
                  value:
                    code: ADMIN_USER_PROTECTED
                    message: 系统内置管理员账号不可操作
                superAdminProtected:
                  value:
                    code: SUPER_ADMIN_USER_PROTECTED
                    message: 该用户绑定了超级管理员角色，不可操作
        '404':
          $ref: '#/components/responses/NotFound'

  /users/{id}/reset-password:
    post:
      tags: [Users]
      summary: 重置用户密码
      x-permission: RESET_PASSWORD
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    nullable: true
        '400':
          description: 不能重置当前登录用户本人的密码（v1.4.6；本人改密走 Auth 模块）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: SELF_OPERATION_FORBIDDEN
                message: 不能操作当前登录用户
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: 无权限（FORBIDDEN）；或目标为受保护用户（v1.4.6）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                forbidden:
                  value:
                    code: FORBIDDEN
                    message: 无权限
                adminProtected:
                  value:
                    code: ADMIN_USER_PROTECTED
                    message: 系统内置管理员账号不可操作
                superAdminProtected:
                  value:
                    code: SUPER_ADMIN_USER_PROTECTED
                    message: 该用户绑定了超级管理员角色，不可操作
        '404':
          $ref: '#/components/responses/NotFound'

  /users/{id}/status:
    put:
      tags: [Users]
      summary: 启用/停用用户
      x-permission: EDIT
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
              schema:
                $ref: '#/components/schemas/StatusUpdateRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/User'
        '400':
          description: 不能停用当前登录用户本人（v1.4.6；启用自己允许）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: SELF_OPERATION_FORBIDDEN
                message: 不能操作当前登录用户
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: 停用受保护用户（v1.4.6；启用不受限）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                adminProtected:
                  value:
                    code: ADMIN_USER_PROTECTED
                    message: 系统内置管理员账号不可操作
                superAdminProtected:
                  value:
                    code: SUPER_ADMIN_USER_PROTECTED
                    message: 该用户绑定了超级管理员角色，不可操作
        '404':
          $ref: '#/components/responses/NotFound'

  # ===================== Roles =====================
  /roles:
    get:
      tags: [Roles]
      summary: 角色列表
      x-permission: SEARCH
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: pageSize
          in: query
          schema: { type: integer, default: 10, enum: [10, 20, 30, 40, 50] }
        - name: search
          in: query
          schema: { type: string }
        - name: enabled
          in: query
          description: 状态筛选（缺省返回全部）
          schema: { type: string, enum: ['true', 'false'] }
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Role'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Roles]
      summary: 创建角色
      x-permission: ADD
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleCreateRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Role'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /roles/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Roles]
      summary: 角色详情
      x-permission: SEARCH
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Role'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Roles]
      summary: 编辑角色
      x-permission: EDIT
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleUpdateRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Role'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Roles]
      summary: 删除角色
      x-permission: DELETE
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: 角色已关联用户
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: ROLE_IN_USE
                message: 该角色已关联用户，无法删除
        '403':
          description: 系统内置角色保护（v1.4.3）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: SUPER_ADMIN_ROLE_PROTECTED
                message: 超级管理员为系统内置角色，其授权不可修改

  /roles/{id}/menus:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Roles]
      summary: 角色菜单授权
      x-permission: SEARCH
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/RoleMenusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Roles]
      summary: 更新角色菜单授权（v1.4.4 起要求 GRANT 位，原为 EDIT）
      x-permission: GRANT
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleMenusUpdateRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/RoleMenusResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          description: 系统内置角色保护（v1.4.3）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: SUPER_ADMIN_ROLE_PROTECTED
                message: 超级管理员为系统内置角色，其授权不可修改

  # ===================== Menus =====================
  /menus:
    get:
      tags: [Menus]
      summary: 菜单树（登录态含 userPermissions；可见性按当前用户角色关联过滤）
      x-permission: NONE
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MenuNode'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Menus]
      summary: 创建菜单
      x-permission: ADD
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MenuCreateRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/MenuNode'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /menus/tree:
    get:
      tags: [Menus]
      summary: 管理用全量菜单树（不做角色可见性过滤，含停用/隐藏节点；v1.3 新增）
      description: >-
        支持 search 模糊过滤（label / i18n_key / to，命中节点保留祖先链）；
        order 控制每层按 sort 升降序。to 非空时全局唯一（部分唯一索引兜底），
        且必须以 / 或 https:// 开头（MENU_TO_EXISTS / MENU_TO_INVALID）。
      x-permission: SEARCH
      parameters:
        - name: search
          in: query
          schema: { type: string }
        - name: order
          in: query
          schema: { type: string, enum: [asc, desc], default: asc }
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MenuNode'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /menus/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Menus]
      summary: 菜单详情
      x-permission: SEARCH
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/MenuNode'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Menus]
      summary: 编辑菜单
      x-permission: EDIT
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MenuUpdateRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/MenuNode'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Menus]
      summary: 删除菜单
      x-permission: DELETE
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /menus/{id}/add-child:
    post:
      tags: [Menus]
      summary: 新增子级菜单
      x-permission: ADD_CHILD
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddChildRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/MenuNode'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ===================== Dict =====================
  /dict/types:
    get:
      tags: [Dict]
      summary: 字典类型列表
      x-permission: SEARCH
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DictType'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Dict]
      summary: 创建字典类型
      x-permission: ADD
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DictTypeCreateRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DictType'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /dict/types/{code}:
    parameters:
      - name: code
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Dict]
      summary: 字典类型详情
      x-permission: SEARCH
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DictType'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Dict]
      summary: 编辑字典类型
      x-permission: EDIT
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DictTypeUpdateRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DictType'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Dict]
      summary: 删除字典类型
      x-permission: DELETE
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: 字典类型仍被字典项引用
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: DICT_TYPE_IN_USE
                message: 该字典类型下仍有字典项，无法删除

  /dict/types/{code}/items:
    parameters:
      - name: code
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Dict]
      summary: 字典项列表
      x-permission: SEARCH
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DictItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Dict]
      summary: 新增字典项
      x-permission: ADD
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DictItemCreateRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DictItem'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /dict/items/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    put:
      tags: [Dict]
      summary: 编辑字典项
      x-permission: EDIT
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DictItemUpdateRequest'
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/DictItem'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Dict]
      summary: 删除字典项
      x-permission: DELETE
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ===================== Logs =====================
  /logs:
    get:
      tags: [Logs]
      summary: 日志列表
      x-permission: SEARCH
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: pageSize
          in: query
          schema: { type: integer, default: 10, enum: [10, 20, 30, 40, 50] }
        - name: type
          in: query
          schema: { type: string, enum: [operation, login, api, error] }
        - name: search
          in: query
          schema: { type: string }
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Log'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    delete:
      tags: [Logs]
      summary: 批量删除日志（逗号分隔 ID 列表，v1.4.8）
      description: >
        通过 Query 参数 ids 传递逗号分隔的日志 ID 列表（如 ?ids=id1,id2,id3）进行批量删除。
        语义与 DELETE /users?ids= 对齐：任一 ID 无效即整体拒绝（400 INVALID_OPERATION），全有全无。
      x-permission: BATCH_DELETE
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: 逗号分隔的日志 ID 列表
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    nullable: true
        '400':
          description: 部分 ID 无效（INVALID_OPERATION）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: INVALID_OPERATION
                message: 部分日志 ID 无效
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /logs/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Logs]
      summary: 日志详情
      x-permission: SEARCH
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: '#/components/schemas/Log'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Logs]
      summary: 删除日志
      x-permission: DELETE
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
